* {
	all: unset;
	transition-property: all;
	transition-duration: 0.25s;
}

window {
	background-color: #333;
	border-color: #000000;
}

button, popover {
	margin: 4px;
	padding: 4px;
	border-radius: 4px;
	background-color: #222;
	box-shadow: 1px 2px #181818;
}

modelbutton {
	margin: 2px;
	padding: 3px 6px;
	border-radius: 3px;
}

button:hover, modelbutton:hover {
	background-color: #282828;
}

button:active, modelbutton:active {
	box-shadow: 0px 0px #181818;
	background-color: #181818;
}

button:checked {
	box-shadow: -1px -1px #000;
	background-color: #111;
}

button:checked:hover {
	background-color: #181818;
}

button.suggested-action {
	background-color: #B55900;
}

button.suggested-action:hover {
	background-color: #F57900;
}

button.suggested-action:active {
	background-color: #984A00;
}

button.destructive-action {
	background-color: #FB3934;
}

button.destructive-action:hover {
	background-color: #CC2410;
}

button.destructive-action:active {
	background-color: #A40000;
}

button.quick-action {
	border-radius: 15px;
}

textview {
	background-color: #111;
	color: #D3D7CF;
}

selection {
	background-color: #B55900;
}
